# Byte-compiled / cache
# Python cache folders
__pycache__/
# Compiled Python files (.pyc, .pyo, etc.)
*.py[cod]
# Python package build artifacts
*.egg-info/
# Temporary files from Jupyter notebooks
.ipynb_checkpoints/
# Temporary files from testing
.pytest_cache/
# Temporary files from linting/formatting tools
.ruff_cache/
# Other temp files
*.log 
.coverage

# Data
# Don't track processed data
/data/processed/

# Artifacts
# Don't track model checkpoints, logs, and other artifacts
/artifacts/
/logs/

# Build executables
# Don't track build artifacts or binaries
/build/
/dist/
*.spec
.build_cache/

# VSCode
# Editor-specific settings
.vscode/

# Environment
# Environment variables files
.env
# Catch other .env-like files
*.env

# OS
.DS_Store       # macOS
Thumbs.db       # Windows